
<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark header">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/login">Login</a>
      <a class="nav-item nav-link" routerLink="/register">Register</a>
      <a class="nav-item nav-link" routerLink="/createbook">Create a book</a>
      <a class="nav-item nav-link" routerLink="/list-books">The list of books</a>
  </div>
</nav>

<!-- main content container -->
<div class="containter">
  <router-outlet></router-outlet>
</div>

 
